USE [master]
GO
/****** Object:  Database [AccountingAppDb]    Script Date: 11/9/2024 11:28:13 PM ******/
CREATE DATABASE [AccountingAppDb]
 CONTAINMENT = NONE
ALTER DATABASE [AccountingAppDb] SET COMPATIBILITY_LEVEL = 160
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AccountingAppDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AccountingAppDb]
GO
/****** Object:  Table [dbo].[tbl_Accounts]    Script Date: 11/9/2024 11:28:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Accounts](
	[Id] [int] IDENTITY(4,1000) NOT NULL,
	[PersonName] [nvarchar](50) NOT NULL,
	[Balance] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_tbl_Accounts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[HighIncomePeople]    Script Date: 11/9/2024 11:28:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE VIEW [dbo].[HighIncomePeople] AS
SELECT [Id]
      ,[PersonName]
      ,[Balance]
FROM [tbl_Accounts]
where Balance>95000
GO
/****** Object:  Table [dbo].[tbl_Admins]    Script Date: 11/9/2024 11:28:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Admins](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_Admins] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[CREATE_NEW_USER]    Script Date: 11/9/2024 11:28:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[CREATE_NEW_USER]
AS
  SELECT * FROM tbl_Accounts
  INSERT INTO tbl_Accounts VALUES('SHAHIN',95000)
GO
USE [master]
GO
